---

export interface Props {
  justify: "start" | "center" | "end" 
}

const { justify = "start" } = Astro.props;


---

<div class=`mx-auto flex w-full max-w-3xl justify-${justify} px-2`>
    <button
      class="focus-outline mb-4 mt-8 flex hover:opacity-75 btn btn-ghost btn-md"
      onclick="(() => (history.length === 1) ? window.location = '/' : history.back())()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="rotate-180"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>بازگشت</span>
    </button>
  </div>

  