---

---

<div class="">
    <p><b>عضویت در خبرنامه</b></p>

    <div>
        <form action="" method="post">
            <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
            <button class="btn">عضویت</button>
        </form>
    </div>
</div>