---

export interface Props {
    slug: string;
    title: string;
}

const { slug, title } = Astro.props;


---

<a
  href={`/posts/${slug}`}
  class="flex w-full gap-1 hover:opacity-75"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right flex-none"
  >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M9 6l6 6l-6 6" />
  </svg>
  <div>
    <span>پست قبلی</span>
    <div class="font-bold pt-2 text-skin-accent/85">{title}</div>
  </div>
</a>